Package: io.github.felitendo.app
Name: Felocord
Version: 0.3.1
Architecture: iphoneos-arm
Description: A client modification for Discord's mobile app.
Maintainer: Adrian Castro, Pylix
Author: Adrian Castro, Pylix, FieryFlames
Icon: https://avatars.githubusercontent.com/u/132727175
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Conflicts: app.enmity, mod.vendetta
